*{
    margin: 0;
    padding: 0; 
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Poppins:wght@300;400;500;700&display=swap');


#content {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex; 
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 10px; 
    padding: 0 10vw;
}

header>img {
    flex: 0 0 auto ; 
    cursor: pointer;
}

header ul {
    display: flex; 
    gap: 20px; 
    justify-content: space-evenly;
}
header li {
    list-style-type: none;
    border: 1px solid black;
    border-bottom: 0;
    padding: 5px; 
    cursor: pointer;
}

header li.active,header li:hover {
    background-color: #EDE8D4;
}

header img {
    align-self: center;
}

.container {
    /* min-height: 90vh;  */
    height: 100%; 
    padding: 20px 0; 
    display: flex;
    flex-direction: column;
    gap: 20px; 
    background-color: #EDE8D4;
    flex: 1;
}

h1 {
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Courgette', cursive;
}

.cta, p  {
    text-align: center;; 

}
.cookies {
    display: grid; 
    align-items: center;
    justify-content: space-evenly;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px; 
    padding: 0 10vw;
}

.cookie {
    display: flex; 
    flex-direction: column; 
    align-items: center;
    gap:10px;
}

.cookie-img, .person-img {
    height: 100px; 
    width: 100px; 
    border-radius: 50%;
}


.offer {
    width: 100vw; 
    background-color: rgba(90,44,34,0.75);
    min-height: 20vh;
    color: #EDE8D4;
    text-align: center;
    font-size: 3rem;
    font-weight: 400;
}

.offer-callout {
    font-size: 4rem;
    font-weight: 700;
}

.container-about { 
    padding: 20px 10vw;
    text-align: center;
}

.team {
    display: grid; 
}

.team h2 {
    margin-bottom: 30px;
}


.person {
    display: grid;
    grid-template-columns: 100px 200px;
    grid-template-areas: 'img name'
        'img text'; 
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    margin-bottom: 50px;
}

@media screen and (min-width: 48em) {
    .person {
        grid-template-columns: 100px 300px;
    }
}

.person-img {
    grid-area: img;
}
.person-name {
    grid-area: name;
    text-align: left;
    align-self: end;
}
.person-text {
    grid-area: text;
    text-align: left;
    align-self: start;
}

.person-img i {
    font-size: 1rem;
}


.container-contact { 
    padding: 20px 10vw;
    text-align: center;
}

.contact-grid {
    display: grid;
    gap: 30px; 
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: minmax(300px, 1fr);
}

.contact-info {
    justify-self: start;
    text-align: left;
    display: grid;
    gap: 15px;
}


iframe {
    height: 100%;
    width: 100%; 
}

footer {
    background-color: #232322;
    height: 10vh;
}

footer a {
    color: white; 
}
footer div {
    display: flex; 
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px; 
}